certifi
Click
dnspython
dominate
eventlet
Flask
Flask-Bootstrap
Flask-MQTT
greenlet
itsdangerous
Jinja2
MarkupSafe
monotonic
paho-mqtt
python-engineio
python-socketio==4.6.1
flask-socketio==4.3.2
six
typing
visitor
Werkzeug==2.0.1